:root {
  --color: hsl(100, 100%, 0%);
  --background-color: hsl(0, 0%, 100%);
  --black: hsl(100, 100%, 0);
  --white: hsl(0, 0%, 100%);
  --confirmed: hsl(271, 76%, 53%);
  --occupied: hsl(204, 10%, 39%);
  --available: hsl(177, 70%, 41%);
  --selected: hsl(0, 79%, 72%);
  --green: hsl(135, 100%, 17%);
}

.dark-mode {
  --background-color: hsl(100, 100%, 0%);
  --color: hsl(0, 0%, 100%);
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--color);
}

a {
  text-decoration: none;
}

label {
  margin-top: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  transform: 0.4s;
}

.input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.legend {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
}

.legend p::before {
  content: "";
  display: grid;
  position: relative;
  height: 40px;
  width: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transform: translateX(100%);
}

p.occupied::before,
.seat-occupied {
  background-color: var(--occupied);
}

p.available::before,
.available-seat {
  background-color: var(--available);
}

p.selected::before,
.seat-selected {
  background-color: var(--selected);
}

.confirmed-seat {
  background-color: var(--confirmed);
}

.screen {
  margin: 5% auto 10%;
  width: 90%;
  height: 0;
  border-top: 50px solid lightslategray;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.screen::after {
  content: "";
  width: 100%;
  height: 20px;
  display: block;
  background-color: hsla(179, 100%, 50%, 0.8);
  filter: blur(1em);
  transform: translateY(0.5rem);
}

.section-name {
  margin: 4% auto;
}

.seating-sections-container {
  display: flex;
  flex-direction: column;
}

.seats-containers {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.seat {
  margin: 4px;
  height: 40px;
  width: 40px;
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: transparent;
  justify-self: center;
}

.show-selected-seats {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100px;
  background-color: var(--green);
  display: none;
  color: var(--white);
  padding-top: 8px;
}

.confirmation-button {
  width: 100%;
  padding: 8px;
  font-size: 1.25rem;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: inherit;
  color: inherit;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  border: none;
  border-top: 2px solid var(--white);
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 0.75rem;
}

@media screen and (min-width: 600px) {
  .seat-selected,
  .available-seat {
    cursor: pointer;
  }

  .seat-occupied {
    cursor: not-allowed;
  }
}
